*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
#container{
    padding-left: 5px;
}

.navbar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #c2c2c2;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
 
.circle:hover {
    transform: scale(1.2);
}

nav i{
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

/* .text{
    padding-top: 20px;
    justify-items: center;
    color: rgb(8, 9, 16);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 100;
} */

.logo{
    text-decoration: none;
    padding-left: 15px;
    color: white;
    transition: 0.4s ease-in;
}
.logo:hover{
    color: white;
    text-shadow: 0 0 25px paleturquoise,
                 0 0 50px paleturquoise;
    transform: scale(1.1);
}

.hero {
    background-image: url('./assets/bg.png');
    /* background: rgb(53,56,57);
    background: linear-gradient(90deg, rgba(53,56,57,1) 9%, rgba(0,0,0,1) 59%); */
    height: 65vh;
    background-size:cover;
    display: flex;
    padding-top: 250px;
    justify-content: center;
    /* align-items: center; */
    color: #fff;
}
.hero h2 {
    font-size: 6em;
    text-align: left;
}
.circle a{
    margin-top: 80px;
    text-decoration: none;
    color: black;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-weight: 60px;
    text-align: center;
    vertical-align: middle;
}
#logos{
    text-align: center;
    margin-top: 40px;
    /* padding-right: 20px;
    size: 20px; */
    /* justify-content: flex-end;
    display: inline;
    padding-inline: 10px;
    size: 100px; */
}
#logos i{
    display: inline;
    padding-inline: 16px;
    font-size: 55px;
    text-decoration: none;
    color: black;
}
#aboutmain {
    width: 800px;
    height: 60vh;
    margin: 70px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 30px;
  }
  
  .photocontainer {
    padding-top: 50px;
    padding-right: 55px;
    padding-bottom: 50px;
    padding-left: 35px;
    flex: 1; 
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  
  .photo {
    width: 90%;
    height: 100%;
    /* display: block; */
    /* height: 100%; */
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* transform: translate(50%, 50%); */
  }
.content h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: -5px;

}
.projectcontainer {
    margin: 110px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
  
.project {
    flex: 1;
    margin: 0 20px;
}
  
.projectphoto {
    height: 300px;
    padding-top: 60px;
    padding-inline: 50px;
    box-shadow: 0px 0px 4px rgba(212, 205, 205, 0.566);
    position: relative;
    overflow: hidden;
}
  
.projectphoto img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}
  
.projectphoto:hover img {
    transform: scale(1.1);
}
#projectsmain{
    height: 600px;
    width: 100%;
    /* background-color: black; */
    background: rgb(53,56,57);
    background: linear-gradient(90deg, rgba(53,56,57,1) 9%, rgba(0,0,0,1) 59%);
    height: 700px;
    background-size:cover; 
}
.projectcontent h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-style: bold;
}
.projectcontent p{
    padding-bottom: 10px;
    color: #fff;
    font-size: medium;
    font-weight: 50;
}

.skillcontainer {
    width: 800px;
    height: 60vh;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}

.skillsclass,
.hobbies {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.icon {
    font-size: 90px;
    padding: 60px;
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    background-color: #fff;
    border: 1px solid #ccc;
    /* height: 100vh;
    width: 100vw; */
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.skillsclass:hover .popup,
.hobbies:hover .popup {
    display: block;
}

.pictures {
    display: grid;
    grid-template-columns: auto auto;
    padding: 35px;
    
}

#skilltable{
    padding-left: 15px;
    width: 100%;

}
#skilltable td{
    padding: 10px;
}
.line{
    height: 19px;
    background-color: rgb(196, 190, 190);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.filler1{
    background-color: rgb(86, 133, 77);
    height: 100%;
    width: 50%;
}
.filler2{
    background-color: rgb(138, 59, 59);
    height: 100%;
    width: 75%;
}
.filler3{
    background-color: rgb(68, 138, 151);
    height: 100%;
    width: 80%;
}
.filler4{
    background-color: rgb(151, 68, 125);
    height: 100%;
    width: 59%;
}

#contactmain{
    /* background-image: url('./assets/bg.png'); */
    background: rgb(53,56,57);
    background: linear-gradient(90deg, rgba(53,56,57,1) 9%, rgba(0,0,0,1) 59%);
    height: 500px;
    width: 100%
}
#contactmain h2{
    padding-top: 40px;
    padding-bottom: 40px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-style: bold;
}
.contactform{
    justify-content: center;
    align-items: center;
    text-align: center;
}
label{
    /* padding-right: 20px;
    padding-left: 90px; */
    font-size: 20px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    font-style: bold;
    color: aliceblue;
}
input{
    margin: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 30px;
}
.subbox{
    margin: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 30px;
}
#msgbox{
    margin-top: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 50px;
}
button{
    margin-top: 8px;
    padding: 7px;
    border-style: solid;
    box-shadow: #c2c2c2;
    color: black;
    font-weight:500;
    font-size: 20px;
}
button:hover{
    color: rgb(255, 180, 81);
}